* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background-color: #09090b;
    color: #d4d4d8;
    line-height: 1.5;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
}

.counter_container button {
    background-color: white;
    border: none;
    color: #18181b;
    padding: 0.65rem 2.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    transition: 0.2s ease-in-out;
}

.counter_container button:hover {
    opacity: 0.8;
    padding: 0.65rem 3rem;
    transition: 0.2s ease-in-out;
}

.counter_container p#counter {
    font-size: 2rem;
    font-weight: 700;
    opacity: 0.7;
    padding: 0 1rem;
}

.content_container {
    max-width: clamp(300px, 50%, 600px);
    background-color: #18181b;
    padding: 3rem 4.5rem;
    text-align: center;
    border-radius: 0.5rem;
}

.content_container h1 {
    font-size: 3.75rem;
    margin-bottom: 1.25rem;
    opacity: 0.7;
}

p.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #18181b;
    font-size: 0.75rem;
    color: #f5f5f5aa;
    padding: 0.9rem;
}

p.footer a {
    color: #f5f5f5aa;
}

a:hover {
    color: #f5f5f5;
}

/* Form */
body.form-example {
    max-width: 768px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

form.csrf-sample {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    & input[type="text"] {
        width: 100%;
        padding: 1rem;
        margin: 1rem 0;
        border: 2px solid #3a3a3a;
        border-radius: 0.25rem;
        background-color: #18181b;
        color: #d4d4d8;
        transition: 0.2s ease-in-out;
    }

    & input[type="text"]:focus {
        outline: none;
        border: 2px solid #f5f5f5;
        transition: 0.2s ease-in-out;
    }

    & button[type="submit"] {
        background-color: #f5f5f5;
        border: none;
        color: #18181b;
        padding: 1rem 2rem;
        border-radius: 0.25rem;
        font-size: 1rem;
        transition: 0.2s ease-in-out;
        cursor: pointer;
    }

    & button[type="submit"]:hover {
        opacity: 0.8;
        padding: 1rem 2.5rem;
        transition: 0.2s ease-in-out;
    }
}

pre#result {
    white-space: pre-wrap;
    background-color: #18181b;
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
    color: #f5f5f5;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
